.list {

    list-style: none;
    margin-top: 5px;

}
  
.card {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
  
.image {

    width: 310px;
    height: 180px;

}
  
.containerSubCard {

    flex: 2;

}

.titleProject {

    font-family: var(--font-primary);
    font-size: var(--title-1);
    font-weight: var(--text-bold-4);

    color: var(--color-gray-0);

    margin-left: 2px;
    margin-top: 8px;

}

.languageProject {

    font-family: var(--font-primary);
    font-size: var(--text-body);
    font-weight: var(--text-bold-2);

    color: var(--color-gray-0);

    margin-left: 2px;
    margin-top: 8px;

}
  
.description {

    max-width: 1250px; 
    overflow-wrap: break-word;

    font-family: var(--font-primary);
    font-size: var(--text-headline);
    font-weight: var(--text-bold-1);

    color: var(--color-gray-2);

    margin-left: 2px;
    margin-top: 8px;

}