.section {

    background-color: var(--color-gray-5);
    height: 690px;

    display: flex;
    justify-content: center;
    border: none;

}

.containerPrimary {

    height: 579px;
    max-width: 90%;

}

.titleDev {

    background: linear-gradient(45deg, #A06DF3, #01E585);
    background-clip: text;
    color: transparent;

    font-family: var(--font-primary);
    font-size: var(--title-2);
    font-weight: var(--text-bold-4);

    margin-bottom: 35px;

}

.containerSecond {

    display: flex;
    align-items: center;

}

.imageProfile {

    width: 56px;
    height: 66px;

    border-radius: 20%;

    cursor: pointer;

}

.titleName {

    color: var(--color-gray-0);

    font-family: var(--font-primary);
    font-size: var(--text-body);
    font-weight: var(--text-bold-1);

    margin-left: 7px;

}

.containerThird {

    margin-top: 40px;
    height: 148px;

}

.paragraphPrimary {

    font-family: var(--font-primary);
    font-size: 2.25rem;
    font-weight: var(--text-bold-4);

    color: var(--color-gray-0);

}

.textColorFul {

    background: linear-gradient(45deg, #A06DF3, #01E585);
    background-clip: text;
    color: transparent;

}

.paragraphSecond {

    margin-top: 40px;

    font-family: var(--font-primary);
    font-size: var(--text-body);
    font-weight: var(--text-bold-1);

    color: var(--color-gray-0);

}

.containerSubThird {

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 40px;
    gap: 0.5rem;

}

.button {

    width: 140px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    gap: 5px;

    border-color: none;
    // border-radius: 8px;
    border-image: linear-gradient(45deg, #A06DF3, #01E585) 1;

    background-clip: text;
    color: var(--color-white);
    background-color: linear-gradient(45deg, #A06DF3, #01E585);

    font-family: var(--font-primary);
    font-size: var(--text-headline);
    font-weight: var(--text-bold-2);
    white-space: nowrap;

    transition: background-position 0.3s;

    cursor: pointer;

    position: relative;
    overflow: hidden;

}

.button {

    width: 140px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    gap: 5px;

    color: var(--color-white);
    background-color: linear-gradient(45deg, #A06DF3, #01E585);

    font-family: var(--font-primary);
    font-size: var(--text-headline);
    font-weight: var(--text-bold-2);

    transition: background-color 0.3s;

    cursor: pointer;

}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #A06DF3, #01E585);
    z-index: -1;
    transition: opacity 0.3s;
}

.button:hover {

    opacity: 0.8;

}

.iconDownload {

    color: var(--color-gray-0);

    width: 18px;
    height: 18px;

}

.containerFourth {

    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: left;

}



.containerSubFourth {

    background-color: var(--color-gray-3);
    height: 50px;
    width: 100%;

    max-width: 400px;

    margin-top: 20px;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    transition: background-color 0.3s;

}

.containerSubFourth:hover {

    outline: none;
    background-color: #6c757d;

}

.numberExperience {

    color: transparent;
    background-image: linear-gradient(45deg, #A06DF3, #01E585 );
    background-clip: text;

    font-family: var(--font-primary);
    font-size: var(--title-1);
    font-weight: var(--text-bold-4);

    margin-left: 5px;

}

.text {

    color: var(--color-gray-0);

    font-family: var(--font-primary);
    font-size: var(--text-headline);
    font-weight: var(--text-bold-2);

    margin-left: 5px;

}

.icons {

    width: 25px;
    height: 25px;

    margin-left: 8px;

}

.imageCart {

    width: 565px;
    height: 690px;


    margin-left: 20px;

}

@media screen and (max-width: 1440px) {

    .imageCart {

        display: none; 

    }

    .containerFourth {

        display: block;
        
    }

}


@media screen and (min-width: 1440px) {

    .containerSubFourth {

        width: 400px;

        display: flex;
        flex-direction: row;
        justify-content: left;
        
    }

}
